name: CI Pipeline

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.11"

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

#    - name: Format with Black
#      run: |
#        pip install black
#        black --check --diff backend  #--check to only check formatting without making changes
    

#    - name: Lint with flake8
#      run: |
#        pip install flake8
#        flake8 backend \--max-line-length=88\--extend-ignore=E203,W503

    - name: Run tests with pytest
      run: |
        pip install pytest pytest-cov pytest-reporter-plus
        PYTHONPATH=$PYTHONPATH:$(pwd) pytest \
          --cov=backend \
          --cov-report=xml \
          --cov-report=html \
          --cov-report=term \
          --junitxml=pytest-report.xml \
          --html-output=./pytest-report \
          backend/tests/ \
          --disable-warnings \
          -v

    - name: Upload pytest report (HTML)
      uses: actions/upload-artifact@v4
      if: always()
      with:
        name: pytest-report
        path: pytest-report/
        retention-days: 30

    - name: Upload pytest report (JUnit XML)
      uses: actions/upload-artifact@v4
      if: always()
      with:
        name: pytest-junit-xml
        path: pytest-report.xml
        retention-days: 30

    - name: Upload coverage report (HTML)
      uses: actions/upload-artifact@v4
      if: always()
      with:
        name: coverage-report
        path: htmlcov/
        retention-days: 30

    - name: Upload coverage report (XML)
      uses: actions/upload-artifact@v4
      if: always()
      with:
        name: coverage-xml
        path: coverage.xml
        retention-days: 30
